.cerceve{
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
    width: 200px;
    height: auto;
    padding: 3px;
    background-color: black;
   
}
.ekran{
    border: 1px solid black;
    padding: 2px 12px 2px 12px;
    border-radius: 8px 8px 8px 8px;
    text-align: right;
    margin-bottom: 8px;
    background-color: rgb(207, 0, 0);
    overflow: hidden;
}
.ekran h1{  
    margin: 0;
    height: 30px;
    padding: 0;
  
}
.container .row{
    display: flex;
    justify-content: space-between;
}
.btn{
    padding: 0;
    width: 40px ;
    height: 40px;
    font-size:x-large;
    margin-bottom: 5px;
    border-radius: 6px 6px 6px 6px;
    color :blanchedalmond;
    background-color: rgba(59, 2, 112, 0.801);
}